.display-label{
}
.display-item {
    background-color: #f8f9fa;
    padding:4px;
    border:1px solid #cfcfcf;
    min-height:1em;
    overflow-wrap:normal;
    height:auto;
}

.required {
    margin-left: 4px;
    color: red;
}
