@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="card">
    <div class="card-header"><h5>An Error Occured</h5></div>
    <div class="card-body">
        <p class="alert alert-warning">An error occured while processing your request</p>
    </div>
</div>
