
@{
    ViewData["Title"] = "NotAuthorized";
}

<div class="card">
    <div class="card-header"><h5>Not Authorized</h5></div>
    <div class="card-body">
        <p class="alert alert-warning">You are not Authorized to access the requested page.</p>
    </div>
</div>