
@{
    ViewData["Title"] = "Page Not Found";
}

<div class="card">
    <div class="card-header"><h5>Page not Found</h5></div>
    <div class="card-body">
        <p class="alert alert-warning">The page you requested was not found</p>
    </div>
</div>

